@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Source Sans Pro', Helvetica, Arial;
}

body {
  font-size: 1.125rem;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', serif;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
blockquote {
  margin-top: 0;
  margin-bottom: 24px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a,
input[type="submit"],
button {
  cursor: pointer;
  transition:
    color 150ms ease-in-out,
    background-color 150ms ease-in-out;
}

input {
  background-color: transparent;
  border: 0;
}

[type='submit'],
[type='button'] {
  font-family: 'Montserrat';
  font-size: 1rem;
  font-weight: 700;
}

input:focus {
  outline: none;
}

.layout-container {
  width: 90%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.layout-flex {
  display: flex;
  flex-flow: column wrap;
}

@media (min-width: 600px) {
  .layout-flex {
    flex-direction: row;
  }
}

.layout-flex-spacer {
  flex: 1 auto;
}

/**
 * Layouts
 */
.layout-row {
  display: flex;
  flow-flow: row wrap;
}

.layout-row--centered {
  align-items: center;
}

.layout-row > .layout-col {
  flex: 1 auto;
}

/**
 * Button styles
 */
.button {
  display: inline-block;
  padding: 12px 24px;
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
}

.button--ghost {
  border: 1px solid #fff;
  color: #fff;
}

.button--ghost:hover {
  background-color: #fff;
  color: #333;
}

.button--solid {
  background-color: #fff;
  color: #000;
}

.button--primary {
  background: #2d5db2;
  font-size: 1.125rem;
line-height: 1.6;

  color: rgba(255, 255, 255, .8);
}

/**
 * Header styles
 */
.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

@media (min-width: 600px) {
  .site-header > .layout-flex {
    align-items: center;
  }
}

.site-title {
  font-size: 20px;
  line-height: 48px;
}

.site-header a {
  color: #fff;
}

.site-nav > a {
  display: inline-block;
  padding: 0 16px;
  line-height: 64px;
}

/**
 * Hero styles
 */
.site-hero {
  padding: 24px 0;
  padding-top: calc(64px + 24px);
  background-color: #000;
  background-image: url('/banner-hero.jpg');
  background-size: cover;
  color: #fff;
}

@media (max-width: 599px) {
  .site-hero .layout-row {
    flex-direction: column;
  }

  .site-hero .layout-col {
    margin-bottom: 24px;
  }
}

.site-hero__content > h2 {
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .site-hero {
    padding: 48px 0 64px;
    padding-top: calc(64px + 48px);
  }

  .site-hero__content > h2 {
    font-size: 60px;
  }
}

@media (min-width: 1000px) {
  .site-hero {
    padding-bottom: 100px;
  }
}

.hero-sign-up {
  padding: 24px;
  background: linear-gradient(45deg, rgba(4,19,59,.9) 0%,rgba(113,2,68,.9) 100%);
  box-shadow: 10px 0 20px rgba(0, 0, 0, .5);
}

@media (min-width: 600px) {
  .hero-sign-up {
    max-width: 350px;
    margin-right: 0;
    margin-left: auto;
    padding-right: 36px;
    padding-left: 36px;
  }
}

.hero-sign-up a {
  color: #fff;
}

.hero-sign-up h3 {
  font-weight: 600;
  text-transform: uppercase;
}

.hero-sign-up__inner > div {
  margin-bottom: 24px;
}

.hero-sign-up__inner > div:last-child {
  margin-bottom: 0px;
}

.hero-sign-up label {
  display: none;
}

.hero-sign-up input {
  width: 100%;
}

.hero-sign-up [type='email'],
.hero-sign-up [type='password'] {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.hero-sign-up p {
  margin-bottom: 0;
  font-size: 16px;
  text-align: center;
}

.hero-sign-up p,
.hero-sign-up a {
  color: rgba(255, 255, 255, .5);
}

.hero-sign-up a {
  text-decoration: underline;
}

/**
 * Slice styles
 */
.slice {
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;
}

@media (min-width: 1000px) {
  .slice {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}

.slice h2 {
  margin-bottom: 12px;
}

/**
 * Individual slice styles
 */
.slice--intro {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #222;
  color: #fff;
}

.slice--intro .slice__content,
.slice--intro .slice__right,
.slice--intro .slice__left {
  background-position: center center;
  background-size: cover;
}

.slice--intro .slice__content {
  padding: 24px;
  background-color: rgba(255, 255, 255, .3);
  background-image: url('https://api.finalround.gg/themes/images/deck-center.jpg');
}

.slice--intro .slice__left {
  background-image: url('https://api.finalround.gg/themes/images/deck-left.jpg');
}

.slice--intro .slice__right {
  background-image: url('https://api.finalround.gg/themes/images/deck-right.jpg');
}

@media (min-width: 600px) {
  .slice--intro .slice__inner {
    display: flex;
  }
  .slice--intro .slice__left,
  .slice--intro .slice__right,
  .slice--intro .slice__content {
    flex: 0 auto;
  }

  .slice--intro .slice__left,
  .slice--intro .slice__right {
    flex-basis: 25%;
    width: 25%;
  }

  .slice--intro .slice__content {
    flex-basis: 50%;
    width: 50%;
  }
}

.slice--games p {
  max-width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.slice--teams {
  background-color: rgba(4,19,59,1);
  background-image: url('https://api.finalround.gg/themes/images/banner-teams.jpg');
  background-size: cover;
  color: #fff;
}

.slice--teams h2 {
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.slice--tournaments {
  text-align: left;
}

@media (max-width: 599px) {
  .slice--tournaments .layout-row {
    flex-flow: column;
  }

  .slice--tournaments .layout-col {
    margin-bottom: 24px;
  }
}

@media (min-width: 600px) {
  .slice--teams {
    padding: 72px 0;
  }

  .slice--teams h2 {
    margin-bottom: 48px;
  }

  .slice--tournaments .layout-col {
    flex-basis: 50%;
  }

  .slice--tournaments .layout-col:last-child {
    padding-left: 24px;
  }
}

.games-grid {
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0 0 20px rgba(0, 0, 0, .4);
}

.games-grid__item {
  flex: 1 0 50%;
}

.games-grid__item--last {
  background: linear-gradient(45deg, rgba(4,19,59,1) 0%,rgba(113,2,68,1) 100%);
}

.games-grid__item--last .games-grid__title {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}

@media (min-width: 600px) {
  .games-grid__item {
    flex-basis: 20%;
  }
}

.games-grid__link {
  display: block;
  position: relative;
  height: 100%;
}

.games-grid__link.ui-corners::before {
  top: 16px;
  left: 16px;
}

.games-grid__link.ui-corners::after {
  bottom: 16px;
  right: 16px;
}

.games-grid__title {
  position: absolute;
  bottom: 24px;
  left: 0;
  width: 100%;
  margin-bottom: 0;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.logos-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.logos-list img {
  max-width: 110px;
}

@media (max-width: 599px) {
  .logos-list {
    flex-flow: wrap;
  }

  .logos-list > li {
    flex: 0 50%;
  }

  .logos-list > li:last-child {
    margin: auto;
  }
}

@media (min-width: 600px) {
  .logos-list {
    margin-bottom: 48px;
  }
}

.site-footer {
  padding-top: 24px;
  background-color: #000;
  background-image: linear-gradient(to right, rgba(4,19,59,.5) 0%,rgba(113,2,68,.5) 100%);
  color: #fff;
}

@media (min-width: 600px) {
  .site-footer {
    padding-top: 60px;
  }
}

.site-footer a {
  color: rgba(255, 255, 255, .5);
}

.site-footer__bottom {
  border-top: 1px solid rgba(255, 255, 255, .2);
}

.site-footer .site-footer__logo {
  display: block;
  padding: 20px 0;
  color: #fff;
  font-size: 20px;
}

.footer-list a {
  font-size: 16px;
}

@media (min-width: 1000px) {
  .footer-list {
    columns: 3;
  }
}

/**
 * Corners treatment
 */
.ui-corners {
  position: relative;
  padding: 16px;
}

.ui-corners::before,
.ui-corners::after {
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  border: 0 solid rgba(255, 255, 255, .35);
  content: ' ';
  z-index: 10;
}

.ui-corners::before {
  top: 0;
  left: 0;
  border-width: 2px 0 0 2px;
}

.ui-corners::after {
  right: 0;
  bottom: 0;
  border-width: 0 2px 2px 0;
}

.ui-corners--dark::before,
.ui-corners--dark::after {
  border-color: rgba(0, 0, 0, .35);
}
